.chart-box--bar article {
  height: 420px;
  margin-bottom: 7.5vh;
}

.chart-box--pie article {
  height: 380px;
  margin-bottom: 7.5vh;
}

.chart-box canvas {
  width: 100%;
  height: 100%;
  display: block;
}